.band{
    width: 100vw;
    height: 1px;
    background-color: #e9edef;
  }
  /* Logo */
  .logo{
    margin-right: 225px;
  }
  .logo-link{
    text-decoration: none;
  }
  .logo-title{
    margin-left: 6px;
    font-size: 14px;
  }
  
  /* Opts */
  .opts{
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
    width: 245px; 
    margin-right: 44px; 
  }
  .opts-cash{
    margin-right: 15px; 
    padding: 5px 19px; 
    border:1px solid lightgreen; 
    border-radius: 4px; 
    color: lightgreen; 
    font-size: 12px; 
    text-align: center;
  }
  .opts-id{
    padding: 5px 8px; 
    border: 1px solid blue; 
    border-radius: 4px; 
    color: blue; 
    font-size: 12px; 
    text-align: center;
  }
  .opts-copy-question{
    margin-left: 10px; 
    margin-top: 4px;
  }
  .opts-tariff{
    margin-right: 15px; 
    font-size: 14px;
  }
  .opts-tariff-link{
    text-decoration: underline dashed;
  }
  
  /* Modules */
  .modules{
    display: flex;
    width: 165px;
    margin-right: 69px;
  }
  .modules-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px; 
    padding-right: 10px;
  }
  
  /* Avatar */
  .avatar{
    position: relative; 
    display: flex; 
    align-items: center; 
    margin-right: 16px;
  }
  .avatar-photo{
    width: 50px; 
    border-radius: 25px;
  }
  .avatar-vk{
    position: absolute; 
    width: 26px; 
    top: 36px; 
    right: 27px
  }
  
  /* Profile */
  .profile{
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    width: 196px;
  }
  .profile-name{
    margin-bottom: 5px; 
    font-size: 17px;
    color: #37474f;
  }
  .profile-msg{
    position: relative; 
    display: flex; 
    align-items: center
  }
  .profile-msg-icon{
    margin-left: -1px; 
    width: 20px;
  }
  .profile-msg-count{
    position: absolute; 
    width: 15px; 
    top: -4px; 
    right: 113px; 
    font-size: 10px; 
    background-color: #03a9f4;
    color: #fff;
    border-radius: 50%; 
    text-align: center;
  }
  .profile-msg-text{
    margin-left: 9px; 
    font-size: 12px;
    color: #37474f;
  }
  /* Header */
  .header{
    display: flex;
    align-items: center;
    width: 1200px;
    background-color: #fff;
  }
  .quit{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9edef;
    width: 30px;
    height: 87px;
  }